/* client/src/app/page.css */

@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@500;600&display=swap');

.rainbow-text {
    background: linear-gradient(90deg, #12C2E9 0%, #c471ed 50%, #f64f59 100%);
    -webkit-background-clip: text; /* For Safari */
    background-clip: text; /* Standard */
    -webkit-text-fill-color: transparent; /* For Safari */
    text-fill-color: transparent; /* Standard (not widely supported yet) */
}

.home-page-title {
    margin-top: 2.5rem; /* Adjust to match mt-10 */
    font-size: 2.25rem; /* Corresponds to text-4xl */
    font-weight: bold; /* As in font-bold */
    color: #d005fe; /* For text-white */
    letter-spacing: -0.025em; /* Matches tracking-tight */
}
.tomorrow-medium {
    font-family: "Tomorrow", system-ui;
    font-weight: 500;
    font-style: normal;
}
.tomorrow-semibold {
    font-family: "Tomorrow", system-ui;
    font-weight: 600;
    font-style: normal;
}

@media (min-width: 640px) {
    .home-page-title {
        font-size: 2.75rem; /* Corresponds to sm:text-6xl */
    }
}

.home-page {
    width: 100%;
    padding: 0;
    @apply bg-gradient-to-r from-[#f7f0acaa] via-[#91f3ffdd] to-[#f6d1f9];
    background-color: #f0f0f0; /* Fallback color */
    background-size: cover;


    transition: background-color 0.3s;
}
@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.bg-gradient-flow {
    @apply bg-gradient-to-r;
    background: linear-gradient(270deg,
    #76cdfc,
    #ffd0a8,
    #fcdae1,
    #d1f9f6,
    #ffe5a1,
    #fbcad0,
    #c9ebfe,
    #76cdfc,
    #a4defe,
    #f9f6d7,
    #d1f9f6,
    #f6d1f9);
    background-size: 400% 400%;
    animation: gradient-flow 30s ease-in-out infinite;
}



.home-page-title {
    font-size: 2.5em;
    margin: 10px 0;
    text-align: center;
    animation: fadeIn 1s;
}

.input-container {

}

.image-size-dropdown-holder, .generate-button {
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
}
.generate-button{
    font-family: "Tomorrow", system-ui;
    font-weight: 500;
    font-style: normal;
}
.image-size-dropdown-holder:hover{
    border-color: #000;
    background-color: #fff;
}
.generate-button:hover {
    border-color: #888;
    background-color: #000;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}
.image-size-dropdown-holder select{
    background-color: transparent;
}
.image-size-dropdown-holder select:hover{
    color: #000;
}

.generated-image-container {
    margin-top: 20px;
    animation: appear 0.5s;
}

.generated-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes appear {
    from { transform: scale(0.5); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

/* Define the animation with tilting and vertical movement */
@keyframes tiltAndMove {
    0% {
        transform: rotate(0deg) translateY(0);
    }
    25% {
        transform: rotate(-5deg) translateY(-10px);
    }
    50% {
        transform: rotate(5deg) translateY(10px);
    }
    75% {
        transform: rotate(-5deg) translateY(-10px);
    }
    100% {
        transform: rotate(0deg) translateY(0);
    }
}

@keyframes slideUpBottomImg {
    0% {
        bottom: -15rem;
        opacity: 0.4;
    }
    100% {
        bottom: 1rem;
        opacity: 1;
    }
}

.left-btm-img-1 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: 300px;
    max-width: 20%;
    height: auto;
    animation: slideUpBottomImg 2s ease-in-out forwards, tiltAndMove 2s ease-in-out infinite;
}

.left-btm-img-1 img {
    border-radius: 20px;
    box-shadow: 6px 6px 16px #444;
}

@keyframes slideDownTopImg {
    0% {
        top: 50rem;
        opacity: 0.4;
    }
    100% {
        top: 5rem;
        opacity: 1;
    }
}
.right-top-img-1{
    position: absolute;
    top: 5rem;
    right: 1rem;
    width: 300px;
    max-width: 20%;
    height: auto;
    animation: slideDownTopImg 2s ease-in-out forwards, tiltAndMove 2s ease-in-out infinite;
}
.right-top-img-1 img{
    border-radius: 20px;
    box-shadow: 6px 6px 16px #444;
}
